<div class = "container">
    <h1 id = "second">Login Form</h1>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" required  [(ngModel)]="username" name="username">
  </div>
  
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" required  [(ngModel)]="password" name="password">
  </div>
  <!-- <p><a routerLink = "/home">Continue</a></p> -->
  <button type="submit" class="btn btn-success" (click) = "valid()" [disabled]="!form.form.valid">Continue</button>
  <div>
    <p></p>
  <!-- <label>
    <input type = "checkbox" checked = "checked" name = "remember">Remember me
  </label> -->
  </div>
  <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
  </div>
