<div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Laptops</div>
          <div class="panel-body"><a><img src="../../assets/lappy.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-primary">
          <div class="panel-heading">Mobiles</div>
          <div class="panel-body"><a><img src="../../assets/mobile.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-primary">
          <div class="panel-heading">Footwear</div>
          <div class="panel-body"><a><img src="../../assets/footwear.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
        </div>
      </div>
    </div>
  </div><br><br> 
