<h2 style="text-align:center">User Profile Card</h2>

<div class="card" *ngFor = "let c of nuser">
  <img src="../../assets/user.png" alt="John" style="width:100%">
  <h1>{{c.username}}</h1>
  <!-- <p class="title">email: {{}}</p> -->
  <p>email: {{c.emailid}}</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>
  <p><button>Contact: {{c.mobile}}</button></p>
</div>
